@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

input[type="text"] {
  border: 1px solid gray;
  width: 100%;
  padding: 5px 5px;
  box-sizing: border-box;
}

.btn-filter {
  border: 1px solid gray;
  padding: 5px 5px;
}

.select-gender {
  width: 100%;
  border: 1px solid gray;
  padding: 6px 5px;
  box-sizing: border-box;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 10px 10px;
}
